[
 {negar, []},
 {kernel, 
  [{logger, [
             {handler, default, logger_std_h, 
              #{formatter => {logger_formatter, 
                              #{single_line => false,
                                template => [time," ",mfa, ":", line, " ", level, " ", pid," ",msg,"\n"]}}}}
            ]},
   {logger_level, info}
  ]
 }
].
